.swiper {
    padding: 45px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: #a0522d
}

.swiper-button-prev {
    color: #a0522d;
}

.swiper-button-next {
    color: #a0522d;
}